@font-face {
    font-family: "SF UI Text Bold";
    src: url("/../fonts/SFUIText-Bold.otf") format("opentype")
}

@font-face {
    font-family: "SF UI Text Light";
    src: url("/../fonts/SFUIText-Light.otf") format("opentype")
}

@font-face {
    font-family: "SF UI Text Light Italic";
    src: url("/../fonts/SFUIText-Light-Italic.otf") format("opentype")
}

@font-face {
    font-family: "SF UI Text Normal";
    src: url("/../fonts/SFUIText-Light.otf") format("opentype")
}
